/* Classic Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


/* SHARED ELEMENTS */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

h1, h2, p {
    font-family: "Poppins", sans-serif;
    color: #343434;
}

/* Margin & Padding */

body{
    margin: 0 auto;
    max-width: 1100px;
}

.card {
    background-color: #f7f7f7;
    /* background-color: grey; */
    margin-bottom: 16px;
    padding: 24px 12px;
    border-radius: 10px;
}

ol, ul {
    margin-left: 16px;
}

img {
    margin-bottom: 20px;
}

/* Styles */

h1 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: #087d81;
    margin-bottom: 16px;
}

p {
    font-size: 14px;
    font-weight: 400;
}

/* Footer */

footer {
    text-align: center;
    padding: 20px 0;
    background-color:#087d81;
}

footer p {
    color: white;
}


#back-button {
    padding: 15px 30px;
    margin-bottom: 16px;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
}

#back-button a{
    text-decoration: none;
    outline: none;
    color: white;
    font-size: 18px;
}

#back-button a:hover{
    color: rgb(216, 216, 216);
}

/* HOME PAGE */

/* Navigation */

#header {
    border-radius: 0 0 5px 5px;
}

.main-nav {
    margin-left: 0;
}

.main-nav a {
    text-decoration: none;
    outline: none;
    color: grey;
}

.main-nav a:hover {
    color: black;

}

.main-nav li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

/* Hero */

/* About */

/* RECIPE PAGES */

/* Introduction */

/* Ingredients */

ul li {
    font-size: 18px;
    font-weight: bold;
}

/* Step by Step */